{% extends "base.html" %}
{% block content %}
<br>
<div class="alert alert-info">
    Password is reset.
</div>
<a href="{% url 'login' %}"
    class='ml-2 ms-4 inline-flex items-center px-4 py-2 bg-[#000000] border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:no-underline focus:bg-gray-700 active:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 transition ease-in-out duration-150'>
    Login
</a>
{% endblock %}